{% extends "base.html" %}



{% block content %}
<h1>Login page </h1>
<form method="POST">
    <div class="form-group">
        <label for="email" style='font-size: 45px;'>Email Address:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
        <!-- the "name" in the above code is what becomes an attribute in the backend -->
        <label for="password" style='font-size: 42px;'>Enter Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <br>
    <button type="submit" class="btn-outline-info" > Submit</button>

</form>
{% endblock %}