
<nav>
    <div>
        {% if user.is_authenticated %}
        <a style="color:rgb(61, 138, 119);text-decoration:underline" class="nav-item nav-link" id="home" href="/">Home</a>
        <a style="color:rgb(61, 138, 119);text-decoration:underline" class="nav-item nav-link" id="logout" href="/logout">Log out</a>
    {% else %}
    </div>
    
    <div>
        <a style="color:rgb(61, 138, 119); text-decoration:underline"  class="nav-item nav-link" id="login" href="/login" >Login</a>
        <a style="color:rgb(61, 138, 119); text-decoration:underline"  class="nav-item nav-link" id="signup" href="/sign-up">Sign up</a>
    </div>
  {% endif %}
</nav>