
    

<nav>
    <div class="navbar-nav"> 
        <br />
        <h1 style='font-family:Times New Roman, Times, serif;'>Impress us with your pitch!</h1>
        <br />
        <br />
        <br />
        <div style= "position:relative; left:800px;" align='center'>
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Log out</a>
            <a class="nav-item nav-link" id="login" href="/login" >Login</a>
            <a class="nav-item nav-link" id="signup" href="/sign-up">Sign up</a>
        </div>
        <div style = "position:relative; left:800px;")>
            <a class="nav-item nav-link" id="product_pitch" href="/product_pitch">Product Pitches</a>
            <a class="nav-item nav-link" id="pickup_lines" href="/pickup_lines">Pickup Lines</a>
            <a class="nav-item nav-link" id="interview_pitch" href="/interview_pitch">Interview Pitch</a>
            <a class="nav-item nav-link" id="promotion_pitch" href="/promotion_pitch">Promotion Pitch</a>
        </div>
    </div>
</nav>
