<link rel="stylesheet" href="../static/styles.css">
{% extends "base.html" %}
{% block title %} 
Your Profile.
{% endblock %}


{% block content %}
<div class='row'>
    <a class="nav-item nav-link" id="product_pitch" href="/product_pitch">
        <button class='button'><span>Product Pitches</span></button>
    </a>
    <a class="nav-item nav-link" id="pickup_lines" href="/pickup_lines">
        <button class='button'><span>Pickup Lines </span></button>
    </a>
    <a class="nav-item nav-link" id="interview_pitch" href="/interview_pitch">
        <button class='button'><span>Interview Pitch</span></button>
    </a>
    <a class="nav-item nav-link" id="promotion_pitch" href="/promotion_pitch">
        <button class='button'><span>Promotion Pitch</span></button>
    </a>
</div>


<h2> All Pitches </h2>
<ul class='list-group list-group-flush' id="pitchs">
    {% for pitch in user.pitchs%}
    <li class='list-group-item'>{{pitch.data}}
        <button type='button' class='close' onClick='deletePitch ({{pitch.id}})'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </li>

   
    <div align="right">
        <small>Created on :{{pitch.date}} </small>
    </div>
    <br //>
    
    {% endfor %}


{% endblock %}