{% extends "base.html" %}
{% block title %} 
Your Profile.
{% endblock %}


{% block content %}
<div align="center">
    <a class="nav-item nav-link" id="product_pitch" href="/product_pitch">Product Pitches</a>
    <a class="nav-item nav-link" id="pickup_lines" href="/pickup_lines">Pickup Lines</a>
    <a class="nav-item nav-link" id="interview_pitch" href="/interview_pitch">Interview Pitch</a>
    <a class="nav-item nav-link" id="promotion_pitch" href="/promotion_pitch">Promotion Pitch</a>
</div>


<h1 align='center'>Create your Pitch! </h1>
<form>
    <textarea name="blog" id="blog" class="form-control">Add your pitch..</textarea>
    <div align='center'>
        <br />
        <button class='btn-outline-info' type='submit'>Add blog</button>
    </div>
</form>


{% endblock %}