{% extends "base.html" %}
{% block title %} 
Your Profile.
{% endblock %}


{% block content %}
<div align="center">
    <button><a class="nav-item nav-link" id="product_pitch" href="/product_pitch">Product Pitches</a></button>
    <button><a class="nav-item nav-link" id="pickup_lines" href="/pickup_lines">Pickup Lines</a></button>
    <button><a class="nav-item nav-link" id="interview_pitch" href="/interview_pitch">Interview Pitch</a></button>
    <button><a class="nav-item nav-link" id="promotion_pitch" href="/promotion_pitch">Promotion Pitch</a></button>
</div>
{% endblock %}